h1 {
    text-align: center;
}

.content {
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn {
    padding: 10px 20px;    
    font-size: 20px;
    border-radius: 10px;
    border: rgb(125, 111, 205) solid 2px;
    background-color: rgb(125, 111, 205);
    color: white;
    text-transform: uppercase;
    transition: all 0.3s linear;
    cursor: pointer;
    box-shadow: 6px 6px 8px 1px #000000;
}

.btn:hover {
    cursor: pointer;
    transform: scale(0.9);
    background-color: rgb(86, 48, 210);
    border-color: rgb(86, 48, 210);
    box-shadow: 1px 1px 1px 1px #000000;
}

.info {
    margin-top: 25px;
    font-size: 1.3em;
    color: rgb(86, 48, 210);
}